

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

header{
    height: 15vh;
    border: 1px solid red;
    margin-top: 25px;
}

header nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header .logo-area{
    margin-left: 30px;
    height: 100%;
    width: 20%;
    border: 1px solid green;
}

header .navbar-items-area{
    height: 90%;
    width: 40%;
    border: 1px solid blue;
    margin-right: 30px;
}

header .logo-area img{
    height: 100%;
}